<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand">AlumniBook</a>
    <button type="button" class="btn btn-secondary" (click) = "onClickAddAlumni()">Ajouter</button>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search">
      <button class="btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>


<li *ngFor="let alumni of alumniList"
[class.selected]="alumni === selectedAlumni"
(click)="onSelectedAlumni(alumni)">
    <span> {{alumni.name}}, </span>
    <span> {{alumni.jobTitle}}, </span>
    <span> {{alumni.email}}, </span>
</li>

<!-- Modal Création/Modification -->
<div [style.display]="displayModal ? 'block' : 'none'" class="modal">
<div *ngIf="displayModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div *ngIf='!modeEdition' class="modal-header "> Modal de création d'un alumni</div>
            <div *ngIf='modeEdition'class="modal-header "> Modal de modification d'un alumni</div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name*</label>
                    <input type="text" [(ngModel)]="name" class="form-control" id="name">
                </div>

                <div class="form-group">
                    <label for="name">Emploi actuel*</label>
                    <input type="text" [(ngModel)]="jobTitle" class="form-control" id="jobTitle">
                </div>

                <div class="form-group">
                    <label for="name">Email*</label>
                    <input type="text" [(ngModel)]="email" class="form-control" id="email">
                </div>

                <!-- <div class="form-group">
                    <label for="name">Date de diplomation*</label>
                    <input type="text" [(ngModel)]="graduationDate" class="form-control" id="graduationDate">
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"  (click) = "onClickFermerModal()">Fermer</button>
                <button type="button" class="btn btn-success"  (click) = "onClickEnregistrerModal()">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
</div>


<!-- SlickGrid -->
<!-- <div class="container">
    <angular-slickgrid gridId="grid1"
              [columnDefinitions]="columnDefinitions"
              [gridOptions]="gridOptions"
              [dataset]="dataset">
    </angular-slickgrid>
</div>    -->
