<h2 >Liste des alumnis :</h2>

<li *ngFor="let alumni of alumniList">
    <span> {{alumni.name}}, </span>
    <span> {{alumni.jobTitle}}, </span>
    <span> {{alumni.email}}, </span>
</li>

<button (click) = "onClickAddAlumni()">Ajouter un alumni</button>

<!-- Modal Création/Modification -->
<div [style.display]="displayModal ? 'block' : 'none'" class="modal">
<div *ngIf="displayModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                Modal de création
            </div>

            <div class="modal-body"> Body</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"  (click) = "onClickFermerModal()">Fermer</button>
                <button type="button" class="btn btn-success"  (click) = "onClickEnregistrerModal()">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
</div>


<!-- SlickGrid -->
<!-- <div class="container">
    <angular-slickgrid gridId="grid1"
              [columnDefinitions]="columnDefinitions"
              [gridOptions]="gridOptions"
              [dataset]="dataset">
    </angular-slickgrid>
</div>    -->
